.card {
  padding: 30px;
  max-width: 332px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  border: 1px solid #F5F5F7;
  gap: 10px 0;
  transition: box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 9px -2px rgba(34, 60, 80, 0.57);
  }

  .image {
    grid-column: 1 / 3;
  }

  .rates {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;

    &__dealer {
      color: #999999;
    }
  }

  .description {
    grid-column: 1 / 3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #2E2E33;
  }

  .price {
    margin-top: auto;
    grid-column: 1 / 3;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;

    color: #2E2E33;

    &_highlighted {
      font-size: 11px;
      line-height: 20px;

      color: #999999;
    }
  }

  &__buttonContainer {
    grid-column: 1 / 3;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__container {
    width: 100px;
    height: 39.67px;
    position: relative;

    .buttonAdd {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 39.67px;
      text-align: center;
      background: #4056A1;
      border-radius: 90px;
      transition: all .3s ease-in-out;

      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #FFFFFF;
      z-index: 2;

      &_active {
        width: 175px;
        height: 40px;
        background: #00B177;
      }
    }

    .counter {
      padding-right: 10px;
      position: absolute;
      background: #F5F5F7;
      border-radius: 30px;
      top: 0;
      left: 0;
      z-index: 1;
      width: 170px;
      height: 39.67px;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__plus {
        z-index: 3;
        width: 20px;
        height: 20px;
        position: relative;

        &::before{
          content: '';
          position: absolute;
          top: calc(50% - 1px);
          left: calc(50% - 5px);;
          width: 10px;
          height: 2px;
          background: #bab7ba;
        }

        &::after{
          content: '';
          position: absolute;
          top: calc(50% - 1px);
          left: calc(50% - 5px);
          width: 10px;
          height: 2px;
          background: #bab7ba;
          transform: rotate(90deg);
        }
      }

      &__minus {
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 3;

        &::before {
          content: '';
          position: absolute;
          top: calc(100%/2 - 1px);
          left: calc(50% - 5px);
          width: 10px;
          height: 2px;

          background: #2E2E33;
          opacity: 0.3;
        }
      }

      &__number {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        width: 15px;

        text-align: center;

        color: #2E2E33;

        opacity: 0.8;
        z-index: 3;
      }
    }
  }

  .buttonLike {
    display: flex;
    align-items: flex-end;

    svg path, svg circle{
      transition: all .3s ease-in-out;
    }
  }
}